@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(-40%);
    }
    75%{
        transform: translateY(-60%);
    }
    100%{
        transform: translateY(-80%);
    }
}

html {
    width: 100%;
    height: 100%;
    
}

body {
    width: 100%;
    height: 100%;
    background-image: url(https://github.com/terri1102/Section3_Project/blob/master/img/architecture-1868667_1920.jpg?raw=true);
    color: #b8f7ff;
    font-family: "BBTreeGL"
}

.navbar {
    color: #b8f7ff;
    background-color: #0a2133;
    height: 30px;
    padding-top: 35px;

}

.nav-link {
    color: #329dab;
    font-family: "BBTreeGB";
    font-size: 20px;
    margin-left: 10px;
    padding-top: 10px;
}
.container-fluid {
    text-align: left;
    color: #329dab;
}

.nav_item {
    text-align: left;
    color: #329dab;

}

#main_contents {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;

}

#main_contents .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    text-align: center;
}



.title {
    text-align: center;
    padding-bottom: 50px;
}

.main_title {
    font-family: "BBTreeGB";
    font-size: 50px;
    padding-bottom: 15px;
}

.sub_title {
    font-size: 20px;
    font-weight: bold;
    color: #329dab;
    padding-bottom: 15px;
}

.intro {
    text-align: center;
    padding-bottom: 15px;
}

.search_bar {
    padding-bottom: 40px;
    height: 20px;
    width: 60px;
}


form
{
    height: 26px;
}

.button {
    color:bisque;
    font-size: 16px;
    cursor: pointer;
}

.sub_title2 {
    padding-top: 20px;
}

.table {
    padding-top: 10px;
    text-align: center;
   
}

.td {
    color:#329dab;
}