<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <nav class="navbar navbar-light" style="border-bottom: 1px solid #9ad5f3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link" aria-current="page" href="/">HOME</a>
                    <a class="nav-link" aria-current="page" href="/intro">사이트 소개</a>
        
                    <a class="nav-link" href="/company">기업조회</a>
        
                    <a class="nav-link" href="/predict">예측기</a>
        
                </ul>
            </div>
        </div>
    </nav>
    <section id="main_contents">
        <div class="wrapper">
            <title>기업 조회하기</title>
            <h3 class="main_title">IPO 데이터 조회하기</h3>
            <h3 class="sub_title">아직 증권신고서가 제출되지 않은 기업들은 조회되지 않습니다.</h3>
            <div class="search_bar"></div>
            <div class="button"></div>
            <div class="github"></div>
            <form action="/company" method="POST">
                <input type="text" name="existing_company" id="existing_company">
                <input type="submit" value="검색">
            
            </form>
    <table>
        <tr>
            <th>기업명</th>
            <th>종목코드</th>
            <th>상장일</th>
            <th>공모가</th>
            <th>1년 후 종가</th>
            <th>삭제</th>
           
        </tr>
        <tr>
            {% for company in comp_list %}
            <td>{{company.companyname}}</td>
            <td>{{company.stockcode}}</td>
            <td>{{company.ipodate}}</td>
            <td>{{company.price}}</td>
            <td>{{company.year_later}}</td>
            
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
            {% endfor %}
        </tr>
    </table>

        </div>
    </section>
    
</body>
</html>