<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업 공개 청약 예측기</title>
    <link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <nav class="navbar navbar-light" style="border-bottom: 1px solid #9ad5f3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link" aria-current="page" href="/">HOME</a>
                    <a class="nav-link" aria-current="page" href="/intro">사이트 소개</a>
        
                    <a class="nav-link" href="/company">기업조회</a>
        
                    <a class="nav-link" href="/predict">예측기</a>
        
                </ul>
            </div>
        </div>
    </nav>
      
    <section id="main_contents">
        <div class="wrapper">
            <div class="title"></div>
                <p>
                <h3 class="main_title">기업 공개 청약 예측기</h3>
                </p><p>
                <h3 class="sub_title">이 공모주에 투자해도 될까?</h3>
                </p>
            <div class="intro"></div>
                <p>
                <h1>어떤 기업이 IPO 1년 이후의 평균이상의 수익률을 거둘 수 있을까요?</h1>
            </p>
     
            <div class="button" onclick = "location.href = '/company'"">
                <button type="button"  class="btn btn-outline-warning btn-lg">시작하기</button>
            </div>

        </div>
    </section>       
    
</body>
</html>