<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 소개</title>
    <link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/intro.css">
</head>
	<body>
		<nav class="navbar navbar-light" style="border-bottom: 1px solid #9ad5f3;">
			<!-- Container wrapper -->
			<div class="container-fluid">
				<!-- Navbar brand -->
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<a class="nav-link" aria-current="page" href="/">HOME</a>
						<a class="nav-link" aria-current="page" href="/intro">사이트 소개</a>
			
						<a class="nav-link" href="/company">기업조회</a>
			
						<a class="nav-link" href="/predict">예측기</a>
			
					</ul>
				</div>
			</div>
		</nav>
		<article id="edbe9481-2498-414b-85a6-d5e3d51f436d" class="page sans"><header><h1 class="page-title">프로젝트 소개</h1></header><div class="page-body"><p id="281fcee5-1cdf-4d52-a62a-ab41554d050e" class="">
		</p><h2 id="758326e9-b1a0-41de-a47b-fc99a9703bf7" class="">웹 어플리케이션 소개</h2><p id="215bedd0-93ce-4298-b0a7-d0e28747f879" class="">구조</p><p id="841370ef-5ff3-49af-9c6d-5300cdb827a3" class="">
		</p><p id="71a4a28e-6e49-480f-a419-e7e8235dc1fc" class="">데이터 분석 목적: 기업 공모 청약에 참여하려는 사람들에게 대략적인 가이드라인을 줄 수 있다.</p><p id="51f4a1a1-b7a1-4eb1-8234-ed50a8248501" class="">
		</p><p id="e3f834b9-20bc-4dfa-a561-70743f3ebf9c" class="">사용한 데이터:</p><p id="970ff0ef-a28c-4ad5-adf1-2b912bd1d758" class="">
		</p><p id="b319f720-1a96-437d-b12b-a06c55e20a34" class="">데이터베이스:</p><p id="693c2425-8b71-47d2-853a-1fa8d6459fcc" class="">
		</p><p id="241fd76b-d3b2-44c2-a49b-f3707e4a50ff" class="">모델 소개</p><p id="fc60ba26-7800-49a0-8128-1d1ac66245df" class="">
		</p><p id="0e72693c-d3a0-469c-85b5-aac98b57a2cd" class="">배포</p></div>
		</article>
	</body>
</html>