<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 소개</title>
    <link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/intro.css">
</head>
	<body>
		<nav class="navbar navbar-light" style="border-bottom: 1px solid #9ad5f3;">
			<!-- Container wrapper -->
			<div class="container-fluid">
				<!-- Navbar brand -->
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<a class="nav-link" aria-current="page" href="/">HOME</a>
						<a class="nav-link" aria-current="page" href="/intro">사이트 소개</a>
			
						<a class="nav-link" href="/company">기업조회</a>
			
						<a class="nav-link" href="/predict">예측기</a>
			
					</ul>
				</div>
			</div>
		</nav>
	
		<img src="https://github.com/terri1102/Section3_Project/blob/master/slides/%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C1.PNG?raw=true" border="0"></a>
		<img src="https://github.com/terri1102/Section3_Project/blob/master/slides/%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C2.PNG?raw=true" border="0"></a>
		<img src="https://github.com/terri1102/Section3_Project/blob/master/slides/%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C3.PNG?raw=true" border="0"></a>
		<img src="https://github.com/terri1102/Section3_Project/blob/master/slides/%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C4.PNG?raw=true" border="0"></a>
		<img src="https://github.com/terri1102/Section3_Project/blob/master/slides/%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C5.PNG?raw=true" border="0"></a>
		
	</body>
</html>