<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/predict.css">
	<title>1년 후 수익률 예측기</title>
</head>
<body>
	<nav class="navbar navbar-light" style="border-bottom: 1px solid #9ad5f3;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link" aria-current="page" href="/">HOME</a>
                    <a class="nav-link" aria-current="page" href="/intro">사이트 소개</a>
        
                    <a class="nav-link" href="/company">기업조회</a>
        
                    <a class="nav-link" href="/predict">예측기</a>
        
                </ul>
            </div>
        </div>
    </nav>

	<section id="main_contents">
		<div class="wrapper">
	<form method="POST" action="/predict">
		<div class="form-group">
		<h3 class="main_title">예측하고 싶은 기업 검색</h3>
		<div class="search_bar"></div>
		<div class="button"></div>
		<form action="/predict" method="POST">
			<input type="text" name="companyname" id="companyname">
			<input type="submit" class="btn btn-primary" value="검색">
<!--	 </form>
		<input name="companyname" style="margin-bottom:10px" class="form-control" type="text" />
		<input type="submit" class="btn btn-primary" value="검색" /> */-->
		
		</div>
	 
	  	
	  <div class="sub_title2"></div> 
    
	  <style>
		  table {
			width: 110%;
			margin-left: auto;
			margin-right: auto;
			border-top: 1px solid #444444;
			border-collapse: collapse;
		  }
		  th, td {
			border-bottom: 1px solid #444444;
			padding: 10px;
		  }
		  table {
			  background-color: #0a2133;
			}
		
  </style>  
  <table>
	  <tr>
		  <th>#</th>
		  <th>회사명</th>
		  <th>평가</th>
		  <th>삭제</th>
		  
	  </tr>
	  {% for prediction in predictions %}
	<tr>
		
		  <td>{{prediction.id}}</td>
		  <td>{{prediction.companyname}}</td>	
		  <td>{{prediction.companyname}}의 경우 {{prediction.prediction_year}}의 수익률을 기록할 것이라고 예측되었습니다.
			본 모델의 정확도는 0.64이기 때문에, 결과는 재미로 보시고 투자는 신중하게 결정해주세요 🧚</td>
		  <td>
				<a href="/delete/{{ prediction.id }}">Delete</a></td>
	</tr>
	{% endfor %}
		  </tr>
  		</table>

	 
	</div>
	</section>
</body>
</html>




